html{
margin: 0px;
padding: 0px
}

body{
    background-color: black;
}


#gui{
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.players{
    padding: 10px;
    border: 1px black solid;
    border-radius: 25px;
    width: auto;
    height: 25px;
    margin: 10px;
    background-color: darkgrey;
    color: black;
    text-align: center;
    font-size: 20px;
}

#ready{
    width: 55px;
    height: 30px;
}

#label{
    font-weight: bold;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.game_container{
    display: flex;
    flex-direction: row;
}

.dice_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    button{
        margin: 10px;
        &:hover{
            cursor: pointer;
        }
    }
}

#time{
    color: white;
    font-weight: bold;
}

#board_container{
    position: relative;
    background-image: url(../gfx/board.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 832px;
    height: 832px;
}

.home{
    margin: 0px;
    width: 64px;
    height: 64px;
    position: relative;
    float: left;
    // background-image: url(../gfx/selector.png);
    background-repeat: no-repeat;
    // background-color: white;
    // opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
    }
}

.base{
    margin: 0px;
    width: 64px;
    height: 64px;
    position: absolute;
    // background-image: url(../gfx/selector.png);
    background-repeat: no-repeat;
    // background-color: white;
    // opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
    }
}

.tile{
    width: 64px;
    height: 64px;
    position: absolute;
    // background-image: url(../gfx/selector.png);
    background-repeat: no-repeat;
    &:hover{
        cursor: pointer;
    }
}

#R{
    top: 64px;
    left: 64px;
    position: absolute;
    width: 128px;
    height: 128px;
}

#B{
    top: 64px;
    right: 64px;
    position: absolute;
    width: 128px;
    height: 128px;
}

#Y{
    bottom: 64px;
    left: 64px;
    position: absolute;
    width: 128px;
    height: 128px;
}

#G{
    bottom: 64px;
    right: 64px;
    position: absolute;
    width: 128px;
    height: 128px;
}


// #R1{
//     top: 64px;
//     left: 64px;
// }
// #R2{
//     top: 64px;
//     left: 128px;
// }
// #R3{
//     top: 128px;
//     left: 64px;
// }
// #R4{
//     top: 128px;
//     left: 128px;
// }


// #B1{
//     top: 64px;
//     right: 128px;
// }
// #B2{
//     top: 64px;
//     right: 64px;
// }
// #B3{
//     top: 128px;
//     right: 128px;
// }
// #B4{
//     top: 128px;
//     right: 64px;
// }

// #Y1{
//     bottom: 128px;
//     left: 64px;
// }
// #Y2{
//     bottom: 128px;
//     left: 128px;
// }
// #Y3{
//     bottom: 64px;
//     left: 64px;
// }
// #Y4{
//     bottom: 64px;
//     left: 128px;
// }

// #G1{
//     bottom: 128px;
//     right: 128px;
// }
// #G2{
//     bottom: 128px;
//     right: 64px;
// }
// #G3{
//     bottom: 64px;
//     right: 128px;
// }
// #G4{
//     bottom: 64px;
//     right: 64px;
// }

#RH1{
    top: 383px;
    left: 128px;
}
#RH2{
    top: 383px;
    left: 192px;
}
#RH3{
    top: 383px;
    left: 256px;
}
#RH4{
    top: 383px;
    left: 320px;
}

#BH1{
    top: 128px;
    left: 384px;
}
#BH2{
    top: 192px;
    left: 384px;
}
#BH3{
    top: 256px;
    left: 384px;
}
#BH4{
    top: 320px;
    left: 384px;
}

#GH1{
    top: 383px;
    right: 128px;
}
#GH2{
    top: 383px;
    right: 192px;
}
#GH3{
    top: 383px;
    right: 256px;
}
#GH4{
    top: 383px;
    right: 320px;
}

#YH1{
    bottom: 128px;
    left: 384px;
}
#YH2{
    bottom: 192px;
    left: 384px;
}
#YH3{
    bottom: 256px;
    left: 384px;
}
#YH4{
    bottom: 320px;
    left: 384px;
}

.gem1{
    position: absolute;
    top: 12px;
    left: 24px;
}
.gem2{
    position: absolute;
    top: 24px;
    left: 12px;
}
.gem3{
    position: absolute;
    top: 24px;
    left: 36px;
}
.gem4{
    position: absolute;
    top: 36px;
    left: 24px;
}

//////////////////////////////////////////////////////////////////

#t1{
    top: 8px+(64px*5);
    left: 8px+(64px*1);
}
#t2{
    top: 8px+(64px*5);
    left: 8px+(64px*2);
}
#t3{
    top: 8px+(64px*5);
    left: 8px+(64px*3);
}
#t4{
    top: 8px+(64px*5);
    left: 8px+(64px*4);
}
#t5{
    top: 8px+(64px*5);
    left: 8px+(64px*5);
}
#t6{
    top: 8px+(64px*4);
    left: 8px+(64px*5);
}
#t7{
    top: 8px+(64px*3);
    left: 8px+(64px*5);
}
#t8{
    top: 8px+(64px*2);
    left: 8px+(64px*5);
}
#t9{
    top: 8px+(64px*1);
    left: 8px+(64px*5);
}
#t10{
    top: 8px+(64px*1);
    left: 8px+(64px*6);
}
#t11{
    top: 8px+(64px*1);
    left: 8px+(64px*7);
}
#t12{
    top: 8px+(64px*2);
    left: 8px+(64px*7);
}
#t13{
    top: 8px+(64px*3);
    left: 8px+(64px*7);
}
#t14{
    top: 8px+(64px*4);
    left: 8px+(64px*7);
}
#t15{
    top: 8px+(64px*5);
    left: 8px+(64px*7);
}
#t16{
    top: 8px+(64px*5);
    left: 8px+(64px*8);
}
#t17{
    top: 8px+(64px*5);
    left: 8px+(64px*9);
}
#t18{
    top: 8px+(64px*5);
    left: 8px+(64px*10);
}
#t19{
    top: 8px+(64px*5);
    left: 8px+(64px*11);
}
#t20{
    top: 8px+(64px*6);
    left: 8px+(64px*11);
}
#t21{
    top: 8px+(64px*7);
    left: 8px+(64px*11);
}
#t22{
    top: 8px+(64px*7);
    left: 8px+(64px*10);
}
#t23{
    top: 8px+(64px*7);
    left: 8px+(64px*9);
}
#t24{
    top: 8px+(64px*7);
    left: 8px+(64px*8);
}
#t25{
    top: 8px+(64px*7);
    left: 8px+(64px*7);
}
#t26{
    top: 8px+(64px*8);
    left: 8px+(64px*7);
}
#t27{
    top: 8px+(64px*9);
    left: 8px+(64px*7);
}
#t28{
    top: 8px+(64px*10);
    left: 8px+(64px*7);
}
#t29{
    top: 8px+(64px*11);
    left: 8px+(64px*7);
}
#t30{
    top: 8px+(64px*11);
    left: 8px+(64px*6);
}
#t31{
    top: 8px+(64px*11);
    left: 8px+(64px*5);
}
#t32{
    top: 8px+(64px*10);
    left: 8px+(64px*5);
}
#t33{
    top: 8px+(64px*9);
    left: 8px+(64px*5);
}
#t34{
    top: 8px+(64px*8);
    left: 8px+(64px*5);
}
#t35{
    top: 8px+(64px*7);
    left: 8px+(64px*5);
}
#t36{
    top: 8px+(64px*7);
    left: 8px+(64px*4);
}
#t37{
    top: 8px+(64px*7);
    left: 8px+(64px*3);
}
#t38{
    top: 8px+(64px*7);
    left: 8px+(64px*2);
}
#t39{
    top: 8px+(64px*7);
    left: 8px+(64px*1);
}
#t40{
    top: 8px+(64px*6);
    left: 8px+(64px*1);
}